<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Not Found</title>
    <style>
        *{
            box-sizing: border-box;
        }
        body{
            margin: 0;
            height:100vh;
        }
        .container{
            width:100%;
            display: flex;
            justify-content: center;
            box-sizing: border-box;
        }
        .text-12{
            font-size: 12rem;
            margin: 0;
            color: #ff2929;
        }
        .text-5{
            font-size: 5rem;
            margin: 0;
        }
    </style>
</head>
<body>
    
    <div class="container">
        <div>
            <h1 class="text-12">Oop...</h1>
            <p class="text-5">Not Found!</p>
            <a class="text-5" href="/">Home</a>
        </div>
    </div>
</body>
</html>

